
/* General CSS overwriting Bootstrap */

html {
	font-family: Roboto, sans-serif;
}

/*Header Section */

.ninja-logo {
	margin: 20px 0 0 20px;
	width: 100px;
}

.ninja-logo:hover {
	-ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}


.hero-text {
	font-family:  Roboto, sans-serif;
	font-weight: 100;
	color: #bcbbbb;
	padding: 0 0 0 15px;
}

.hero-text-small {
	font-family:  Roboto, sans-serif;
	font-weight: 100;
	color: #bcbbbb;
	padding: 0 0 0 15px;
	font-size: 1.5em;
	margin: 0 0 0 0;
}

.hero-text-big {
	font-family:  Roboto, sans-serif;
	font-weight: 100;
	color: #bcbbbb;
	padding: 0 0 0 15px;
	font-size: 4em;
	margin: 0 0 4px 0;
}

hr {
	height: 3px;
	border: 0 none;
	color: #bcbbbb;
	background-color: #eee;
}

/* Hero Image */

.hero-image {
	width: 100%;
}

/* Featured Projects */

.featured-row {
	margin: 15px;
}

.featured-text {
	padding: 0 25px 0 0;
	color: #bcbbbb;
	font-size: 30px;
	font-weight: 400;
}

.featured-work h3 {
	font-size: 35px;
	font-weight: 200;
	color: #747704;
}

.featured-work p {
	font-weight: 100;
}
